<template>
  <q-card
    flat
    bordered
  >
    <q-toolbar>
      <section class="q-my-md q-mr-md text-subtitle1">
        <div class="doc-card-title">
          {{ title }}
        </div>
      </section>
      <q-space />
    </q-toolbar>
    <q-separator />
    <div class="row">
      <div class="col q-pa-md">
        <slot name="content" />
      </div>
    </div>
  </q-card>
</template>

<script>

export default {
  name: 'DefatulCrud',
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>
