<template>
  <q-dialog
    v-model="dialog"
    persistent
    maximized
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card>
      <q-bar class="bg-primary text-white dialog-bar">
        <div>{{ title }}</div>
        <q-space />
        <q-btn
          dense
          flat
          rounded
          icon="close"
          @click="toggleDialog"
        >
          <q-tooltip :disable="$q.platform.is.mobile">
            Fechar
          </q-tooltip>
        </q-btn>
      </q-bar>
      <q-card-section />
      <slot name="content-dialog" />
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  name: 'DialogCrud',
  props: {
    store: {
      type: String,
      default: '',
      required: true
    }
  },
  data: () => ({
    dialog: false,
    id: null,
    parent: null
  }),
  computed: {
    title() {
      const title = this.$store.getters[`${this.store}/getRaw`].title
        .singular
      return this.id ? `Editar ${title} #${this.id}` : `Adicionar ${title}`
    }
  },
  methods: {
    toggleDialog() {
      this.dialog = !this.dialog
    }
  }
}
</script>

<style lang="scss">
.dialog-bar {
  height: 45px;
  margin-bottom: 10px;
}
</style>
