<template>
  <ValidationObserver
    ref="observer"
    v-slot="{ passes }"
    tag="div"
  >
    <q-form>
      <div class="row q-col-gutter-lg">
        <div
          v-for="(input, key) in inputs"
          :key="key"
          :class="
            input.form.class && input.form.class.parent
              ? input.form.class.parent
              : ''
          "
        >
          <date-field-crud
            v-if="['date', 'time', 'datetime'].includes(input.form.type)"
            :input="input"
            :value="values[input.name]"
            @update="(value) => (values[input.name] = value)"
          />
          <document-field-crud
            v-if="['cpf', 'cnpj'].includes(input.form.type)"
            :input="input"
            :value="values[input.name]"
            @update="(value) => (values[input.name] = value)"
          />
          <number-field-crud
            v-if="['decimal', 'number', 'money'].includes(input.form.type)"
            :input="input"
            :value="values[input.name]"
            @update="(value) => (values[input.name] = value)"
          />
          <password-field-crud
            v-if="['password'].includes(input.form.type)"
            :input="input"
            :required="id ? false : true"
            @update="(value) => (values[input.name] = value)"
          />
          <select-field-crud
            v-if="['select'].includes(input.form.type)"
            :ref="input.form.child || null"
            :input="input"
            :value="values[input.name]"
            :parent="input.form.parent ? values[input.form.parent] : null"
            @update="(value) => values[input.name] = value"
          />
          <text-field-crud
            v-if="['email', 'text', 'textarea'].includes(input.form.type)"
            ref="textField"
            :input="input"
            :value="values[input.name]"
            @update="(value) => (values[input.name] = value)"
          />
          <toggle-field-crud
            v-if="['toggle'].includes(input.form.type)"
            :input="input"
            :value="values[input.name]"
            @update="(value) => (values[input.name] = value)"
          />
        </div>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          label="Salvar"
          color="primary"
          class="q-pa-xs"
          @click="passes(onSubmit)"
        />
      </div>
    </q-form>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver } from 'vee-validate'
import { parse } from 'vue-currency-input'
import { cpf } from 'cpf-cnpj-validator'
import moment from 'moment'

import DateFieldCrud from './inputs/DateField'
import DocumentFieldCrud from './inputs/DocumentField'
import NumberFieldCrud from './inputs/NumberField'
import PasswordFieldCrud from './inputs/PasswordField'
import SelectFieldCrud from './inputs/SelectField'
import TextFieldCrud from './inputs/TextField'
import ToggleFieldCrud from './inputs/ToggleField'

export default {
  name: 'FormCrud',
  components: {
    ValidationObserver,
    DateFieldCrud,
    DocumentFieldCrud,
    NumberFieldCrud,
    PasswordFieldCrud,
    SelectFieldCrud,
    TextFieldCrud,
    ToggleFieldCrud
  },
  props: {
    store: {
      type: String,
      default: '',
      required: true
    },
    id: {
      type: Number,
      default: null
    },
    parent: {
      type: String,
      default: null
    }
  },
  data: () => ({
    inputs: [],
    values: {}
  }),
  async created() {
    const values = this.id ? await this.loadValues() : null
    this.inputs = [
      ...this.$store.getters[`${this.store}/getRaw`].columns
    ].filter((col) => {
      col.ref = {
        entity: this.store,
        id: this.id || null,
        parent: this.parent || null
      }
      if (col.form) {
        if (values) {
          if (
            typeof col.format === 'function' &&
            !['toggle', 'select', 'textarea'].includes(col.form.type)
          ) {
            this.values[col.name] = col.format(values[col.name])
          } else if (col.name.includes('.')) {
            const props = col.name.split('.')
            this.values[col.name] = values[props[0]][props[1]]
          } else {
            this.values[col.name] = values[col.name]
          }
        }
        return true
      }
      return false
    })
  },
  methods: {
    onSubmit() {
      const method = this.id ? 'update' : 'create'

      this.$store
        .dispatch(`${this.store}/${method}`, {
          data: this.sanitize(),
          id: this.id
        })
        .then((res) => {
          this.$q.notify({
            type: 'positive',
            message: `Item ${this.id ? 'editado' : 'cadastrado'} com sucesso`
          })
          this.$emit('dialog')
          this.$emit('refresh')
          if (this.store === 'usuario') {
            this.$store.dispatch('auth/refreshUser', res.data)
          }
        })
        .catch(() => {
          this.$q.notify({
            type: 'negative',
            message: `Não foi possível ${
              this.id ? 'editar' : 'cadastrar'
            } este item`
          })
        })
    },
    sanitize() {
      const data = { ...this.values }
      this.inputs.map((input) => {
        if (typeof data[input.name] === 'undefined') return

        if (input.name.includes('.')) {
          delete data[input.name]
          return
        }

        if (['decimal', 'number', 'money'].includes(input.form.type)) {
          data[input.name] = parse(data[input.name])
        }
        if (input.form.type === 'cpf') {
          data[input.name] = cpf.strip(data[input.name])
        }
        if (input.form.type === 'date') {
          if (data[input.name] === '') {
            data[input.name] = null
          } else {
            data[input.name] = moment
              .utc(data[input.name], 'DD/MM/YYYY')
              .format('YYYY-MM-DD')
          }
        }
        if (input.form.type === 'datetime') {
          if (data[input.name] === '') {
            data[input.name] = null
          } else {
            data[input.name] = moment
              .utc(data[input.name], 'DD/MM/YYYY HH:mm')
              .format('YYYY-MM-DDTHH:mm')
          }
        }
        if (input.form.type === 'time') {
          if (data[input.name] === '') {
            data[input.name] = null
          } else {
            data[input.name] = moment(data[input.name], 'HH:mm')
          }
        }
        if (input.form.type === 'select') {
          if (input.form.multiple) {
            const entities = []
            data[input.name].map((entity) => {
              entities.push(entity.id)
            })
            data[input.name] = entities
          } else {
            data[input.name] = data[input.name].id
          }
        }
      })
      return data
    },
    async loadValues() {
      const { data } = await this.$store.dispatch(
        `${this.store}/getOne`,
        this.id
      )
      return data
    }
  }
}
</script>
