<template>
  <q-table
    :data="rows"
    :columns="columns"
    :filter="filter"
    :loading="loading"
    :pagination.sync="pagination"
    :rows-per-page-options="[10, 25, 50, 100]"
    :grid="mode == 'grid'"
    row-key="id"
    color="primary"
    :class="crud.includes('U') || crud.includes('D') ? 'sticky-table' : ''"
    binary-state-sort
    @request="onRequest"
  >
    <template #top="props">
      <q-btn
        v-if="crud.includes('C')"
        outline
        color="primary"
        label="Adicionar"
        @click="$emit('dialog')"
      />
      <q-space />
      <q-btn
        flat
        round
        dense
        :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        @click="props.toggleFullscreen"
      >
        <q-tooltip :disable="$q.platform.is.mobile">
          {{ props.inFullscreen ? 'Sair da Tela Cheia' : 'Tela Cheia' }}
        </q-tooltip>
      </q-btn>
      <q-btn
        flat
        round
        dense
        :icon="mode === 'grid' ? 'list' : 'grid_on'"
        @click="mode = mode === 'grid' ? 'list' : 'grid'"
      >
        <q-tooltip
          v-close-popup
          :disable="$q.platform.is.mobile"
        >
          {{ mode === 'grid' ? 'Lista' : 'Grid' }}
        </q-tooltip>
      </q-btn>
    </template>
    <template #body-cell-actions="props">
      <q-td
        class="text-right"
        :props="props"
        auto-width
      >
        <div class="q-gutter-xs">
          <q-btn
            v-if="crud.includes('U')"
            dense
            flat
            rounded
            color="blue-grey-8"
            icon="edit"
            size="12px"
            @click="$emit('dialog', { id: props.row.id })"
          >
            <q-tooltip :disable="$q.platform.is.mobile">
              Editar {{ title.singular }} #{{ props.row.id }}
            </q-tooltip>
          </q-btn>
          <q-btn
            v-if="crud.includes('D')"
            dense
            flat
            rounded
            color="red-8"
            icon="delete"
            size="12px"
            @click.prevent="removeItem(props.row.id)"
          >
            <q-tooltip :disable="$q.platform.is.mobile">
              Remover {{ title.singular }} #{{ props.row.id }}
            </q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </template>
  </q-table>
</template>

<script>
export default {
  name: 'TableCrud',
  props: {
    store: {
      type: String,
      default: '',
      required: true
    },
    filter: {
      type: Object,
      default: () => {}
    },
    permission: {
      type: String,
      default: ''
    },
    paginate: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    loading: false,
    mode: 'list',
    crud: '',
    pagination: {
      sortBy: 'id',
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    },
    columns: [],
    rows: [],
    title: {}
  }),
  created() {
    this.crud = this.permission || 'CRUD'
    this.title = this.$store.getters[`${this.store}/getRaw`].title
    this.columns = [
      ...this.$store.getters[`${this.store}/getRaw`].columns.filter(
        (col) => {
          return !col.hideColumn
        }
      ),
      {
        name: 'actions',
        label: '',
        align: 'right'
      }
    ]
    this.onRequest({
      pagination: this.paginate || this.pagination
    })
  },
  methods: {
    async onRequest(props) {
      this.loading = true
      const { data } = await this.$store.dispatch(
        `${this.store}/getAll`,
        this.getParams(props.pagination)
      )
      this.rows.splice(0, this.rows.length, ...data.rows)
      this.setParams(data.pagination)
      this.loading = false
    },
    getParams(pagination) {
      const props = this.filter
      return {
        page: pagination.page,
        limit: pagination.rowsPerPage,
        orderBy: pagination.sortBy,
        isDesc: pagination.descending,
        props
      }
    },
    setParams(data) {
      this.pagination.sortBy = data.orderBy
      this.pagination.descending = data.isDesc
      this.pagination.page = data.page
      this.pagination.rowsPerPage = data.rowsPerPage
      this.pagination.rowsNumber = data.rowsNumber
    },
    async removeItem(id) {
      this.$q
        .dialog({
          title: `Remover ${this.title.singular} #${id}`,
          message: 'Você realmente deseja excluir este item?',
          ok: {
            flat: true,
            color: 'red-8'
          },
          cancel: {
            flat: true,
            color: 'red-8'
          },
          persistent: true
        })
        .onOk(() => {
          this.$store
            .dispatch(`${this.store}/remove`, id)
            .then(() => {
              this.$q.notify({
                type: 'positive',
                message: 'Item removido com sucesso'
              })
              this.onRequest({ pagination: this.pagination })
            })
            .catch(() => {
              this.$q.notify({
                type: 'negative',
                message: 'Não foi possível excluir este item'
              })
            })
        })
    }
  }
}
</script>
