<template>
  <q-page padding>
    <DefaultCrud :title="title.plural">
      <template #content>
        <q-table
          ref="tableCrud"
          :columns="columns"
          :data="rows"
        >
          <template #top="props">
            <q-btn
              v-if="permission.includes('C')"
              outline
              color="primary"
              label="Adicionar"
              @click="toggleDialog"
            />
            <q-space />
            <q-btn
              flat
              round
              dense
              :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="props.toggleFullscreen"
            >
              <q-tooltip :disable="$q.platform.is.mobile">
                {{ props.inFullscreen ? 'Sair da Tela Cheia' : 'Tela Cheia' }}
              </q-tooltip>
            </q-btn>
          </template>
          <template #body-cell-actions="props">
            <q-td
              class="text-right"
              :props="props"
              auto-width
            >
              <div class="q-gutter-xs">
                <q-btn
                  v-if="permission.includes('U')"
                  dense
                  flat
                  rounded
                  color="blue-grey-8"
                  icon="edit"
                  size="12px"
                  @click="$emit('dialog', { id: props.row.id })"
                >
                  <q-tooltip :disable="$q.platform.is.mobile">
                    Editar {{ title.singular }} #{{ props.row.id }}
                  </q-tooltip>
                </q-btn>
                <q-btn
                  v-if="permission.includes('D')"
                  dense
                  flat
                  rounded
                  color="red-8"
                  icon="delete"
                  size="12px"
                  @click.prevent="removeItem(props.row.id)"
                >
                  <q-tooltip :disable="$q.platform.is.mobile">
                    Remover {{ title.singular }} #{{ props.row.id }}
                  </q-tooltip>
                </q-btn>
              </div>
            </q-td>
          </template>
        </q-table>
        <DialogCrud
          ref="dialogCrud"
          :store="store"
          @refresh="refreshTable"
        >
          <template #content-dialog>
            <q-layout>
              <q-page-container>
                <q-card-section>
                  <ValidationObserver
                    ref="observer"
                    v-slot="{ passes }"
                    tag="div"
                  >
                    <q-form class="q-gutter-xs">
                      <h3>Novo Usuário</h3>
                      <ValidationProvider
                        v-slot="{ errors, invalid, validated }"
                        rules="required"
                        tag="div"
                      >
                        <q-input
                          v-model="user.name"
                          label="Nome"
                          :error="invalid && validated"
                          :error-message="errors[0]"
                          @keyup.enter="() => {}"
                        >
                          <template #prepend>
                            <q-icon name="account_box" />
                          </template>
                        </q-input>
                      </ValidationProvider>
                      <ValidationProvider
                        v-slot="{ errors, invalid, validated }"
                        rules="required|email|confirm:confirmEmail"
                        tag="div"
                      >
                        <q-input
                          v-model="user.email"
                          label="Email"
                          :error="invalid && validated"
                          :error-message="errors[0]"
                          @keyup.enter="() => {}"
                        >
                          <template #prepend>
                            <q-icon name="email" />
                          </template>
                        </q-input>
                      </ValidationProvider>
                      <ValidationProvider
                        v-slot="{ errors, invalid, validated }"
                        rules="required|email"
                        tag="div"
                        vid="confirmEmail"
                      >
                        <q-input
                          v-model="user.confirmEmail"
                          label="Confirmar email"
                          :error="invalid && validated"
                          :error-message="errors[0]"
                          @keyup.enter="() => {}"
                        >
                          <template #prepend>
                            <q-icon name="email" />
                          </template>
                        </q-input>
                      </ValidationProvider>
                      <ValidationProvider
                        v-slot="{ errors, invalid, validated }"
                        rules="required|confirm:confirmPassword"
                      >
                        <q-input
                          v-model="user.password"
                          type="password"
                          label="Senha"
                          :error="invalid && validated"
                          :error-message="errors[0]"
                          tag="div"
                          @keyup.enter="() => {}"
                        >
                          <template #prepend>
                            <q-icon name="lock" />
                          </template>
                        </q-input>
                      </ValidationProvider>
                      <ValidationProvider
                        v-slot="{ errors, invalid, validated }"
                        rules="required"
                        vid="confirmPassword"
                      >
                        <q-input
                          v-model="user.confirmPassword"
                          type="password"
                          label="Senha"
                          :error="invalid && validated"
                          :error-message="errors[0]"
                          tag="div"
                          @keyup.enter="() => {}"
                        >
                          <template #prepend>
                            <q-icon name="lock" />
                          </template>
                        </q-input>
                      </ValidationProvider>
                      <p>
                        <a href="/forgotmypassword">Esqueci a senha...</a>
                      </p>
                      <q-btn
                        size="md"
                        class="full-width btnLogin"
                        label="Enviar"
                        @click="passes()"
                      />
                    </q-form>
                  </ValidationObserver>
                </q-card-section>
              </q-page-container>
            </q-layout>
          </template>
        </DialogCrud>
      </template>
    </DefaultCrud>
  </q-page>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import DefaultCrud from '../components/crud/Default'
import DialogCrud from '../components/crud/Dialog'

export default {
  name: 'Usuarios',
  components: {
    DefaultCrud,
    DialogCrud,
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    store: 'usuario',
    permission: '',
    columns: [],
    rows: [],
    pagination: {
      sortBy: 'id',
      descending: true,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    },
    user: {
      name: '',
      email: '',
      confirmEmail: '',
      password: '',
      confirmPassword: '',
      document: '',
      photo: ''
    }
  }),
  created() {
    const authUser = this.$store.getters['auth/getRaw'].user
    if ([1, 2].includes(authUser.role.id)) {
      this.permission = 'CRUD'
    }
    this.title = this.$store.getters[`${this.store}/getRaw`].title
    this.columns = [
      ...this.$store.getters[`${this.store}/getRaw`].columns.filter((col) => {
        return !col.hideColumn
      }),
      {
        name: 'actions',
        label: '',
        align: 'right'
      }
    ]
    this.onRequest({
      pagination: this.paginate || this.pagination
    })
  },
  methods: {
    refreshTable() {
      this.onRequest({
        pagination: this.$refs.tableCrud.pagination
      })
    },
    toggleDialog(props) {
      this.$refs.dialogCrud.id = (props && props.id) || null
      this.$refs.dialogCrud.toggleDialog()
    },
    async onRequest(props) {
      this.loading = true
      const { data } = await this.$store.dispatch(
        `${this.store}/getAll`,
        this.getParams(props.pagination)
      )
      this.rows.splice(0, this.rows.length, ...data.rows)
      this.setParams(data.pagination)
      this.loading = false
    },
    getParams(pagination) {
      return {
        page: pagination.page,
        limit: pagination.rowsPerPage,
        orderBy: pagination.sortBy,
        isDesc: pagination.descending
      }
    },
    setParams(data) {
      this.pagination.sortBy = data.orderBy
      this.pagination.descending = data.isDesc
      this.pagination.page = data.page
      this.pagination.rowsPerPage = data.rowsPerPage
      this.pagination.rowsNumber = data.rowsNumber
    },
    async removeItem(id) {
      this.$q
        .dialog({
          title: `Remover ${this.title.singular} #${id}`,
          message: 'Você realmente deseja excluir este item?',
          ok: {
            flat: true,
            color: 'red-8'
          },
          cancel: {
            flat: true,
            color: 'red-8'
          },
          persistent: true
        })
        .onOk(() => {
          this.$store
            .dispatch(`${this.store}/remove`, id)
            .then(() => {
              this.$q.notify({
                type: 'positive',
                message: 'Item removido com sucesso'
              })
              this.onRequest({ pagination: this.pagination })
            })
            .catch(() => {
              this.$q.notify({
                type: 'negative',
                message: 'Não foi possível excluir este item'
              })
            })
        })
    }
  }
}
</script>
