<template>
  <q-item
    clickable
    tag="a"
    :to="link"
    exact
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>
    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'MenuLink',
  props: {
    title: {
      type: String,
      required: true
    },
    link: {
      type: String,
      default: '#'
    },
    icon: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.q-item {
  color: $grey-9;

  &.q-router-link--active {
    background-color: lighten($primary, 50%);
  }

  & .q-item__section--avatar {
    min-width: 32px;
    padding-right: 10px;
  }
}
</style>
