.doc-card-title {
  margin-left: -24px;
  padding: 3px 12px 3px 28px;
  background: lighten($primary, 50%);
  color: $primary;
  position: relative;
  border-radius: 3px 5px 5px 0;
  
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: lighten($primary, 40%);
    border-width: 9px 0 0 11px;
    }
}
  
