<template>
  <q-layout>
    <q-page-container>
      <div class="wrapper">
        <div class="login-box">
          <q-card-section>
            <ValidationObserver ref="observer" v-slot="{ passes }" tag="div">
              <q-form class="q-gutter-xs">
                <h3>Entrar</h3>
                <ValidationProvider
                  v-slot="{ errors, invalid, validated }"
                  rules="required|email"
                  tag="div"
                >
                  <q-input
                    v-model="auth.email"
                    label="Email"
                    :error="invalid && validated"
                    :error-message="errors[0]"
                    @keyup.enter="passes(login)"
                  >
                    <template #prepend>
                      <q-icon name="email" />
                    </template>
                  </q-input>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors, invalid, validated }"
                  rules="required"
                >
                  <q-input
                    v-model="auth.password"
                    type="password"
                    label="Senha"
                    :error="invalid && validated"
                    :error-message="errors[0]"
                    tag="div"
                    @keyup.enter="passes(login)"
                  >
                    <template #prepend>
                      <q-icon name="lock" />
                    </template>
                  </q-input>
                  <p>
                    <a href="/forgotmypassword">Esqueci a senha...</a>
                  </p>
                </ValidationProvider>
                <q-btn
                  size="md"
                  class="full-width btnLogin"
                  label="Enviar"
                  :loading="loading"
                  @click="passes(login)"
                />
              </q-form>
            </ValidationObserver>
          </q-card-section>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'

export default {
  name: 'Login',
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    auth: { email: null, password: null },
    loading: false
  }),
  methods: {
    async login() {
      try {
        this.loading = true
        await this.$store.dispatch('auth/login', this.auth)
        this.loading = false
        this.$q.notify({
          type: 'positive',
          message: 'Login efetuado com sucesso.'
        })
        this.$router.push('/')
      } catch (error) {
        this.loading = false
        this.$q.notify({
          type: 'negative',
          message: 'Dados incorretos, tente novamente.'
        })
      }
    }
  }
}
</script>
<style lang="sass">
.wrapper
  width: 100%
  height: 100vh
  background-color: $secondaryColor

  .login-box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 30%
    background-color: $cardBg
    padding: 20px 40px
    border: 1px solid $buttonCancel
    margin: auto
    display: block
    border-radius: 5px

    .errors
      color: red

    p
      a
        text-decoration: none
        color: $forgottenPass

    .btnLogin
      background: $buttonOk
      color: white

    h3
      text-align: center
      margin: 40px 0
</style>
