<template>
  <q-layout view="lHh lpR fFf">
    <q-header
      elevated
      class="toolbar"
    >
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      :width="300"
    >
      <q-list>
        <q-item
          v-if="user"
          class="q-pt-md"
        >
          <q-item-section avatar>
            <q-avatar
              color="primary"
              text-color="white"
              size="50px"
            >
              {{ user.nome.charAt(0).toUpperCase() }}
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ user.nome }}</q-item-label>
            <q-item-label caption>
              {{ user.email }}
            </q-item-label>
            <q-item-label caption>
              {{ user.role.descricao }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <div class="row q-mt-sm">
          <q-item
            clickable
            class="col"
          >
            <q-item-section avatar>
              <q-icon name="account_circle" />
            </q-item-section>
            <q-item-section>Perfil</q-item-section>
          </q-item>
          <q-item
            clickable
            class="col"
            @click="logout"
          >
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>Sair</q-item-section>
          </q-item>
        </div>
        <q-item-label
          header
          class="text-grey-8"
        >
          Menu
        </q-item-label>
        <MenuLink
          v-for="link in menuLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container class="background-pg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import MenuLink from '../components/MenuLink'

export default {
  name: 'MainLayout',
  components: { MenuLink },
  data: () => ({
    leftDrawerOpen: false,
    user: {}
  }),
  computed: {
    menuLinks() {
      const menu = [
        {
          title: 'Dashboard',
          icon: 'analytics',
          link: '/',
          roles: [1, 2, 3, 4]
        },
        {
          title: 'Gerenciar Usuários',
          icon: 'perm_contact_calendar',
          link: '/usuarios',
          roles: [1, 2, 3]
        },
        {
          title: 'Atividades Pendentes',
          icon: 'push_pin',
          link: '/atividades-pendentes',
          roles: [1, 2, 3]
        },
        {
          title: 'Atividades',
          icon: 'menu_book',
          link: '/atividades',
          roles: [1, 2, 3]
        }
      ]
      const result = menu.filter((item) => {
        if (this.user) return item.roles.includes(this.user.role.id)
      })
      return result
    }
  },
  created() {
    this.user = this.$store.getters['auth/getRaw'].user
  },
  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="sass">
.toolbar
  background: $primaryColor

.background-pg
  background: $secondaryColor
  min-height: 100vh
</style>
